@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Merriweather:wght@400;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Banner Section */

.banner {
  background-image: url("/images/Banner Image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 85%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.banner p {
  font-family: "Merriweather", serif;
  color: white;
  font-size: calc(20px + 0.390625vw);
}
.banner h1 {
  font-family: "Merriweather", serif;
  color: white;
  font-size: calc(30px + 0.390625vw);
}

/* Offer Section */

.offer {
  width: 50%;
  overflow: hidden;
  color: red;
  font-family: "Inter", sans-serif;
  margin: 0 auto;
  text-align: center;
}
.offer img {
  height: 100%;
  width: 80%;
  object-fit: cover;
}
.offer-title-1 {
  font-size: 40px;
  font-weight: 900;
}
.offer-title-2 {
  font-size: 13px;
  padding-top: 20px;
  padding-bottom: 10px;
}
.offer-title-3 {
  font-size: 22px;
  color: #070211;
}

/* banner-2 section */

.banner-2 {
  background-image: url("/images/Vectorrr.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 85%;
  height: 70vh;
  display: grid;
  align-items: center;
  grid-template-columns: 70% 1fr;
}
.banner-2-text {
  padding: 100px;
  color: white;
}
.banner-2-text p {
  font-family: "Merriweather", serif;
  font-size: 18px;
}
.banner-2-text h1 {
  font-family: "Merriweather", serif;
  font-weight: 100;
  font-size: 12px;
}
.banner-2-img-2 {
  width: 150px;
}
.banner-2 .banner-2 p {
  font-family: "Merriweather", serif;
  color: white;
}
.banner-2 h1 {
  font-family: "Merriweather", serif;
  color: white;
}
